<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h5>Sign up for Brain Trendy.</h5>
            <form (submit)="routeRegistration()">

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">First Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user fa" aria-hidden="true"></i>
                            </span>
                            <input type="text" [(ngModel)]="firstName" class="form-control" name="firstName" id="firstName" placeholder="Enter your  First Name" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Last Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user fa" aria-hidden="true"></i>
                            </span>
                            <input type="text" [(ngModel)]="lastName" class="form-control" name="lastName" id="lastName" placeholder="Enter your Last Name" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Address</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user fa" aria-hidden="true"></i>
                            </span>
                            <input type="text" [(ngModel)]="address" class="form-control" name="address" id="address" placeholder="Enter your Address" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope fa" aria-hidden="true"></i>
                            </span>
                            <input type="text" [(ngModel)]="email" class="form-control" name="email" id="email" placeholder="Enter your Email" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="number" class="cols-sm-2 control-label">Phone Number</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user fa" aria-hidden="true"></i>
                            </span>
                            <input type="text" [(ngModel)]="phone" class="form-control" name="phone" id="phone" placeholder="Enter your Phone Number" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Role</label>
                    <div class="cols-sm-10">
                        <div class='custom-radio'>
                            <input type='radio' id='role1' [(ngModel)]="role" name='role1' value='1'> Teacher
                            <div class='circle-select'></div>
                        </div>

                        <div class='custom-radio'>
                            <input type='radio' id='role2' [(ngModel)]="role" name='role2' value='2'> Student
                            <div class='circle-select'></div>
                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-users fa" aria-hidden="true"></i>
                            </span>
                            <input type="text" [(ngModel)]="username" class="form-control" name="username" id="username" placeholder="Enter your Username" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                            </span>
                            <input type="password" [(ngModel)]="password" class="form-control" name="password" id="password" placeholder="Enter your Password" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                            </span>
                            <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" required>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    
                    <a target="_blank" type="submit" value="Submit" id="button" class="btn btn-primary btn-lg btn-block login-button">Register</a>
                </div>

            </form>

            <!-- <div>
                <button (click)="libra.test()">Test</button>
            </div> -->
        </div>
    </div>
</div>