<div class="container-fluid p-0">
  <div class="row">
    <div class="col">
      <img src="https://dz2cdn4.dzone.com/storage/rc-covers/8757499-recardheader90.png" id="background">
      <i class="far fa-edit edit"></i>
      <img src="https://img.deusm.com/darkreading/DR-user.jpg" id="user">
      <h3 class="name">UserName
        <i class="far fa-edit"></i>
      </h3>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-lg-8 col-md-8 col-sm-12 p-0">
      <div class="card classes">
        <div class="card-body">
          <h5 class="card-title">Classes</h5>
        </div>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Class Name
              <i class="far fa-edit"></i>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">MM/DD/YYYY</h6>
            <p class="card-text">Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it.</p>
            <a href="#" class="card-link">Register</a>
          </div>
        </div>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Class Name
              <i class="far fa-edit"></i>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">MM/DD/YYYY</h6>
            <p class="card-text">Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it.</p>
            <a href="#" class="card-link">Register</a>
          </div>
        </div>
        <div class="card m-3">
          <div class="card-body">
            <h5 class="card-title">Class Name
              <i class="far fa-edit"></i>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">MM/DD/YYYY</h6>
            <p class="card-text">Wrote water woman of heart it total other. By in entirely securing suitable graceful at families improved. Zealously few furniture repulsive was agreeable consisted difficult. Collected breakfast estimable questions in to favourite it.</p>
            <a href="#" class="card-link">Register</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 p-0">
      <div class="card about">
        <div class="card-body">
          <h5 class="card-title">About UserName</h5>
          <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="FirstName">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="LastName">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <input type="text" class="form-control" id="firstName" placeholder="Address">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <input type="text" class="form-control" id="firstName" placeholder="Teacher at some school/place located somewhere">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <input type="password" class="form-control" id="firstName" placeholder="(123)456-7890">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col">
                <input type="password" class="form-control" id="firstName" placeholder="someone@somewhere.com">
              </div>
            </div>
          </form>
        </div>
      </div>
      <button type="button" class="btn btn-primary mt-3 cancel" routerLink="/profile">Cancel</button>
      <button type="button" class="btn btn-primary mt-3 save">Save</button>
    </div>
  </div>
</div>

